/* src/index.css (Modified) */

body {
  margin: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F5F5; /* Light Gray/Neutral Base */
  color: #333333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Ensure full height for background */
#root, html, body {
  height: 100%;
}